# What is Exploratory Data Analysis (EDA)?
Exploratory Data Analysis (EDA) is the process of exploring a dataset and getting an understanding of its main characteristics.

# EDA with D-tale,DataPrep,Pandas-Profiling,lux, Sweet_Viz,AutoViz and  klib etc

We will review five of the most popular Python EDA tools:

DataPrep, Pandas-profiling, SweetViz, Lux, and D-Tale.

Sweet_Viz, Pandas-Profiling use Matplotlib underneth for Visualization

Data-Prep - Bokeh

D-Tale-Plotly

Lux - Altair

# importing Required libraries

In [2]:
import numpy as np
import scipy as sp
import pandas as pd
from matplotlib import pyplot
import seaborn as sb

In [ ]:
#!pip install dtale
#!pip install dataprep
#!pip install sweetviz
#pip install autoviz
#!pip install pandas-profiling
#pip install pandas-visual-analysis
#!pip install lux
#!pip install klib

# EDA with Matplotlib, Seaborn

In [ ]:
from matplotlib import pyplot
import seaborn as sb

In [3]:
df=pd.read_csv('../input/titanic/titanic.csv')
df.head()
#df.info()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# EDA with D-Tale

In [ ]:
#!pip install dtale

In [4]:
import seaborn as sns
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [5]:
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
import dtale
dtale.show(df)
#dtale.show(df)

# EDA with Data Prep

In [18]:
# Run the code to install DataPrep
#!pip install dataprep

Installing the Dependencies 
Further, from the DataPrep library itself, we can import the required dependencies for the task to be performed,

In [1]:
#from dataprep.eda import plot, plot_correlation, plot_missing, create_report  
#create_report(df)

# EDA with SweetViz

In [ ]:
#!pip install sweetviz

In [ ]:
df1=sns.load_dataset('tips')
df1.head()

In [ ]:
import sweetviz as sv
report=sv.analyze(df1)
#report.show_html('sweet_report.html')
report.show_notebook()

# EDA with AutoViz

In [ ]:
#!pip install autoviz

In [ ]:
from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()
df = AV.AutoViz('../input/titanic/titanic.csv')

# EDA with PandasProfiling

In [ ]:
#!pip install pandas-profiling

In [ ]:
df1=sns.load_dataset('tips')
df1.head()

In [ ]:
from pandas_profiling import ProfileReport
profile=ProfileReport(df1,explorative=True)
#print(profile)
#profile.to_file('./output.html')
#profile.to_widgets()
profile.to_notebook_iframe()

# Pandas Visual Analysis – Interactive Visual Analysis


# EDA with pandas_vidual_analysis

In [ ]:
#!pip install pandas-visual-analysis

In [ ]:
# import seaborn 
import seaborn as sns
# lets look at the dataset available in seaborn
print(sns.get_dataset_names())

In [ ]:
# importing iris dataset
df = sns.load_dataset('iris')
# importing visualanalysis from pandas_visual_analysis library
from pandas_visual_analysis import VisualAnalysis
# visualizing different plots
VisualAnalysis(df)

# EDA with Lux

In [ ]:
#!pip install lux

In [ ]:
# importing lux
import lux
#importing pandas
import pandas as pd
lux.logger = True

In [ ]:
df  = pd.read_csv('../input/titanic/titanic.csv')
df

# Data preparation, Analysis and Visualization and Cleaning with klib

# EDA with Klib
Using Klib for Data Visualization in a Single Line of Code

In [ ]:
#!pip install klib

In [ ]:
import klib
import pandas as pd

# Klib-Correlation Matrix

In [ ]:
klib.corr_mat(df) # df=Titanic Dataset

# Klib- Correlation plot

In [ ]:
klib.corr_plot(df, split="pos")
klib.corr_plot(df, split="neg")

# Klib-Categorical plot

In [ ]:
klib.cat_plot(df)

In [ ]:
klib.cat_plot(df)

# Klib-Distibution plot

In [ ]:
klib.dist_plot(df)

# Missing Values

In [ ]:
klib.missingval_plot(df)

# Klib - Data Cleaning

In [ ]:
# load the .csv files
#df_fraud = pd.read_csv('../input/titanic/titanic.csv')
df_fraud = pd.read_csv('../input/automobile-dataset/Automobile_data.csv')
df_pollution = pd.read_csv("../input/uspollution/pollution_us_2000_2016.csv")
df_hotel = pd.read_csv("../input/hotel-reviews/Hilton_Hawaiian_Village_Waikiki_Beach_Resort-Honolulu_Oahu_Hawaii__en.csv")

# clean the data
df_fraud_cleaned = klib.data_cleaning(df_fraud)
df_pollution_cleaned = klib.data_cleaning(df_pollution)
df_hotel_cleaned = klib.data_cleaning(df_hotel)

# find More @
https://towardsdatascience.com/data-preparation-with-klib-ec4add15303a